h2 {
  background-color: hsl(0deg 0% 10.98%);
  color: white;
  padding: 2rem 5rem;
}

nav {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  background-color: #0282f9;
  color: white;
  padding: 2rem 5rem;

  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1rem;

    img {
      width: 30px;
    }
  }
}
